
.byg-font-light{
    font-family:"poppins" !important;
    font-weight:300;
    font-style:normal;
}

.byg-font-regular{
    font-family:"poppins" !important;
    font-weight:400;
    font-style:normal;
}

.byg-font-bold{
    font-family:"poppins" !important;
    font-weight:700;
    font-style:normal;
}
